<style>
  #cart-icon::before {
  content: "";
  display: none; /* Hide the ::before pseudo-element by default */
}

#cart-icon.show-before::before {
  content: "";  /* This is an example content, you can change it to whatever you want */
  display: block; /* Make the ::before pseudo-element visible when the class is added */
}

.open-sidebar, .open-cart {
  transform: translateX(0);
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}
</style>

<div class="sticky top-0 bg-white">
  <header class="py-6 px-5">
    <div class="flex flex-col items-center gap-5">
      <div class="flex justify-between items-center w-full">
        <div class="flex-[1_0_0] hidden lg:block">USD</div>
  
        {% comment %} Menu ICON {% endcomment %}
        <div class="flex-[1_0_0] lg:hidden">
          <button onclick="openSidebar()">
            <svg class="lg:hidden size-5" role="presentation" viewBox="0 0 20 14">
              <path d="M0 14v-1h20v1H0zm0-7.5h20v1H0v-1zM0 0h20v1H0V0z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
        
        {% comment %} Title {% endcomment %}
        <h1 class="uppercase text-lg lg:text-2xl">
          <a href="/" class="logo-link">{{ shop.name }}</a>
        </h1>
  
        <div class="flex-[1_0_0] justify-end flex">
          <ul class="flex gap-3 lg:gap-5 items-center">
            {% comment %} Search ICON {% endcomment %}
            <li class="cursor-pointer">
              <svg class="size-5" role="presentation" viewBox="0 0 18 17">
                <g transform="translate(1 1)" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
                  <path d="M16 16l-5.0752-5.0752"></path>
                  <circle cx="6.4" cy="6.4" r="6.4"></circle>
                </g>
              </svg>
            </li>
  
            {% comment %} Heart ICON {% endcomment %}
            <li class="cursor-pointer hidden lg:block">
              <svg class="size-5" fill="#000000" height="800px" id="Capa_1" style="margin-top:-3px" version="1.1" viewBox="0 0 471.701 471.701" width="800px" xml:space="preserve"><g><path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z"></path></g></svg>
            </li>
  
            {% comment %} Account {% endcomment %}
            <li class="text-[#6a6a6a] cursor-pointer uppercase tracking-widest text-sm hidden lg:block">Account</li>
            
            {% comment %} Cart {% endcomment %}
             <a href="/cart">
             <li class="cart-total uppercase cursor-pointer tracking-widest text-sm hidden lg:block">Cart ({{ cart.item_count }})</li>
             </a>
            
            {% comment %} Cart ICON {% endcomment %}
            <li>
              <a href="/cart" class="relative lg:hidden before:hidden before:absolute before:size-2 before:bg-black before:rounded-full before:-right-1 before:top-0 before:border-2 before:border-white before:box-content">
                <svg class="size-5" role="presentation" viewBox="0 0 17 20">
                  <path d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z" fill="currentColor"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <nav class="hidden lg:block">
        <ul class="flex items-center gap-20 uppercase tracking-widest text-[#1c1b1b] text-sm">
          {% for link in linklists.main-menu.links %}
            <li class="menu-item">
              <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>
  <nav class="border-t-[0.5px] py-3 lg:hidden border-[#00000054] w-full">
    <ul class="flex items-center justify-evenly uppercase tracking-widest text-[#1c1b1b]">
      {% for link in linklists.main-menu.links %}
        <li class="text-xs">
          <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>

{% comment %} Sidebar menu {% endcomment %}
<div id="sidebar" class="w-full h-screen p-5 bg-[#1c1b1b] fixed top-0 -translate-x-full transition-transform duration-500 z-50">
    <button onclick="closeSidebar()">
      <svg class="size-5" role="presentation" viewBox="0 0 16 14">
        <path d="M15 0L1 14m14 0L1 0" stroke="white" fill="none" fill-rule="evenodd"></path>
      </svg>
    </button>
</div>

{% comment %} Cart menu {% endcomment %}
{% render 'cart-drawer' %}

{% comment %} Overlay {% endcomment %}
{% render 'overlay' %}

<script>
  if({{cart.item_count}} > 0) {
    document.getElementById("cart-icon").classList.add("show-before");
  }
</script>